@{
    ViewData["Title"] = "Home Page";
}

@section styles{ 
    <link href="~/lib/apexcharts/apexcharts.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Upcoming Events</h6>
                </div>
                <table id="tblEvents" class="table table-hover mb-0"></table>
            </div>
        </div>
    </div>

    <div class="col-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">My Teams</h6>
                </div>
                <div class="table-responsive">
                    <table id="tblTeams" class="table table-hover mb-0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Recent Polls</h6>
                </div>
                <div class="table-responsive">
                    <table id="tblPolls" class="table table-hover mb-0"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Announcements</h6>
                </div>
                <div class="table-responsive">
                    <table id="tblAnnouncements" class="table table-hover mb-0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="poll-modal" tabindex="-1" aria-labelledby="poll-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="poll-modal-label">Poll Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="chart" style="width: 500px; height: 300px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/apexcharts/apexcharts.min.js"></script>
    <script src="~/js/portal/home.js" asp-append-version="true"></script>
}