
@{
    ViewData["Title"] = "Companies";
}

@section styles{
    <link href="~/lib/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Companies</h6>
                </div>
                <div class="table-responsive">
                    <div id="tblToolbar" class="mb-1">
                        <button class="btn btn-primary" id="add-new-company">
                            <i class="fa fa-plus"></i>&nbsp;Add New
                        </button>
                    </div>
                    <table id="tblList" class="table table-hover mb-0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="company-modal" tabindex="-1" aria-labelledby="company-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="company-modal-label">Add new company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="company-form">
                    <input type="hidden" name="id" id="id" value="0" />
                    <div class="form-group">
                        <label for="name">Name<sup>&#x2605;</sup></label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea class="form-control" rows="2" id="address" name="address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="website">Website</label>
                        <input type="url" class="form-control" id="website" name="website">
                    </div>
                    <div class="form-group">
                        <label for="logo">Upload Logo</label>
                        <input type="file" accept="image/jpeg, image/png" class="form-control-file" id="logo" name="logo">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save-company">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/lib/bootstrap-fileinput/themes/fa/theme.min.js"></script>
    <script src="~/js/admin/companies.js" asp-append-version="true"></script>
}