@{
    ViewData["Title"] = "Events";
}

<div class="row">
    <div class="col stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Events</h6>
                    <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg text-muted pb-3px"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                            <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye icon-sm mr-2"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> <span class="">View</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 icon-sm mr-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> <span class="">Edit</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash icon-sm mr-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg> <span class="">Delete</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer icon-sm mr-2"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg> <span class="">Print</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download icon-sm mr-2"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg> <span class="">Download</span></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <div id="tblToolbar" class="mb-1">
                        <button class="btn btn-primary" id="add-new-event">
                            <i class="fa fa-plus"></i>&nbsp;Add New
                        </button>
                    </div>
                    <table id="tblList" class="table table-hover mb-0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="event-modal" tabindex="-1" aria-labelledby="event-modal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="event-modal-label">Add new Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="event-form">
                        <div class="row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="col">
                                <div class="form-group">
                                    <label for="title">Title <sup>&#x2605;</sup></label>
                                    <input type="text" class="form-control" id="title" name="title">
                                </div>
                                <div class="form-group">
                                    <label for="eventTypeId">Event Type <sup>&#x2605;</sup></label>
                                    <select id="eventTypeId" name="eventTypeId" class="form-control" style="width: 100%"></select>
                                </div>
                                @*<div class="form-group d-none" id="fg-session">
                                    <label for="sessionId">Session</label>
                                    <select id="sessionId" name="sessionId" class="form-control" style="width: 100%"></select>
                                </div>*@
                                <div class="form-group d-none" id="fg-speaker">
                                    <label for="speakerIds">Speakers</label>
                                    <select id="speakerIds" name="speakerIds" class="form-control" style="width: 100%" multiple></select>
                                </div>
                                <div class="form-group d-none" id="fg-sponsor">
                                    <label for="sponsorIds">Sponsor</label>
                                    <select id="sponsorIds" name="sponsorIds" class="form-control" style="width: 100%" multiple></select>
                                </div>
                                <div class="form-group d-none" id="fg-presenter">
                                    <label for="presenterId">Presenter</label>
                                    <select id="presenterId" name="presenterId" class="form-control" style="width: 100%"></select>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="eventDate">Event Date <sup>&#x2605;</sup></label>
                                    <input type="text" class="form-control datetimepicker" id="eventDate" name="eventDate">
                                </div>
                                <div class="form-group">
                                    <label for="cohortId">Cohort <sup>&#x2605;</sup></label>
                                    <select id="cohortId" name="cohortId" class="form-control" style="width: 100%"></select>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" rows="3" id="description" name="description"></textarea>
                                </div>
                                <div class="form-group d-none" id="fg-cto">
                                    <label for="ctoId">CTO</label>
                                    <select id="ctoId" name="ctoId" class="form-control" style="width: 100%"></select>
                                </div>
                                <div class="form-check form-check-flat form-check-primary" id="fg-createZoomMeeting">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="createZoomMeeting" name="createZoomMeeting" checked>
                                        Also Create Zoom Meeting
                                        <i class="input-frame"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>                    

                    <div class="row">
                        <div class="col-md-12 d-none" id="resourceDiv">
                            <h5>Resources (maximum 10 files)</h5>
                            <div id="resource-container">
                            </div>

                            <button class="btn btn-outline-primary mt-1" id="addMoreResource"><i class="fa fa-plus"></i>Add More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save-event">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/admin/events.min.js" asp-append-version="true"></script>
}