
@{
    ViewData["Title"] = "Guests";
}

@section styles{
    <link href="~/lib/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">Guests</h6>
                </div>
                <div class="table-responsive">
                    <div id="tblToolbar" class="mb-1">
                        <button class="btn btn-primary" id="add-new-guest">
                            <i class="fa fa-plus"></i>&nbsp;Add New
                        </button>
                    </div>
                    <table id="tblList" class="table table-hover mb-0"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="guest-modal" tabindex="-1" aria-labelledby="guest-modal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="guest-modal-label">Add new Guest</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="guest-form">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <input type="hidden" name="id" id="id" value="0" />
                                <div class="form-group">
                                    <label for="firstName">First Name <sup>&#x2605;</sup></label>
                                    <input class="form-control" rows="2" id="firstName" name="firstName" />
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name <sup>&#x2605;</sup></label>
                                    <input type="text" class="form-control" id="lastName" name="lastName">
                                </div>
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" name="title">
                                </div>
                                <div class="form-group">
                                    <label for="emailPersonal">Personal Email<sup>&#x2605;</sup></label>
                                    <input type="email" class="form-control" id="emailPersonal" name="emailPersonal">
                                </div>
                                <div class="form-group">
                                    <label for="phonePersonal">Personal Phone</label>
                                    <input type="text" class="form-control" id="phonePersonal" name="phonePersonal">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="companyName">Company Name <sup>&#x2605;</sup></label>
                                    <input type="text" class="form-control" id="companyName" name="companyName" />
                                </div>
                                
                                <div class="form-group">
                                    <label for="phoneCorp">Work Phone</label>
                                    <input type="text" class="form-control" id="phoneCorp" name="phoneCorp">
                                </div>
                                <div class="form-group">
                                    <label for="emailCorp">Work Email <sup>&#x2605;</sup></label>
                                    <input type="email" class="form-control" id="emailCorp" name="emailCorp">
                                </div>
                                <div class="form-group">
                                    <label for="linkedinUrl">Linkedin Url</label>
                                    <input type="url" class="form-control" id="linkedinUrl" name="linkedinUrl" />
                                </div>
                                <div class="form-group d-none">
                                    <label for="guestTypeId">Guest Type</label>
                                    <input type="hidden" class="form-control" value="2001" id="guestTypeId" name="guestTypeId" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save-guest">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/admin/guests.js" asp-append-version="true"></script>
}