@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/portal.min.css" rel="stylesheet" />
    <style>
        #zmmtg-root {
            height: 90%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
    <div id="zmmtg-root">
        <div>
            <iframe id="websdk-iframe" style="border: 0; position: absolute; top:0; left:0; height: 100%; width: 100%;" src="https://sl-player-host.s3.amazonaws.com/client.html?player=73681a60ea14acb6" allow="microphone; camera; fullscreen;" allowFullScreen sandbox="allow-forms allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
        </div>

        <div>
            <div class="zoom-form">
                <form id="meeting_form">
                    <input type="hidden" name="display_name" id="display_name" value="1.7.10#CDN" />
                    <input type="hidden" name="meeting_email" id="meeting_email" value="" />
                    <input type="hidden" name="meeting_role" id="meeting_role" value="0" />
                    <input type="hidden" name="meeting_china" id="meeting_china" value="0" />
                    <input type="hidden" name="meeting_lang" id="meeting_lang" value="en-US" />
                    <input type="hidden" name="meeting_number" id="meeting_number" value="@ViewBag.MeetingId" />
                    <input type="hidden" name="meeting_pwd" id="meeting_pwd" value="@ViewBag.MeetingPassword" />
                    <input type="hidden" id="is_guest" name="is_guest" value="@ViewBag.IsGuest" />

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary w-100" id="join_meeting">Join Meeting</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="https://source.zoom.us/1.7.10/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/1.7.10/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/1.7.10/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/1.7.10/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/1.7.10/lib/vendor/jquery.min.js"></script>
    <script src="https://source.zoom.us/1.7.10/lib/vendor/lodash.min.js"></script>

    <script src="~/js/zoom/zoom-meeting.bundle.js" asp-append-version="true"></script>
    <script src="~/js/zoom/index.min.js" asp-append-version="true"></script>
</body>
</html>