@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewData["Title"] = "Create a free account";
}

<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
        <div class="card">
            <div class="row">
                <div class="col-md-4 pr-md-0">
                    <div class="auth-left-wrapper">

                    </div>
                </div>
                <div class="col-md-8 pl-md-0">
                    <div class="auth-form-wrapper px-4 py-5">
                        <a href="#" class="noble-ui-logo d-block mb-2">EDC<span>&nbsp;Portal</span></a>
                        <h5 class="text-muted font-weight-normal mb-4">Create a free account.</h5>
                        <form class="forms-sample" id="register-form">
                            <div class="form-group">
                                <label for="Email">Email *</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="FirstName">First Name *</label>
                                <input type="text" class="form-control" id="firstName" name="firstName">
                            </div>
                            <div class="form-group">
                                <label for="LastName">Last Name *</label>
                                <input type="text" class="form-control" id="lastName" name="lastName">
                            </div>
                            <div class="form-group">
                                <label for="Password">Password *</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="Password">Company *</label>
                                <select class="form-control" id="companyId" name="companyId" style="width: 100%"></select>
                            </div>
                            <div class="mt-3">
                                <button id="btn-register" class="btn btn-primary mr-2 mb-2 mb-md-0 text-white">Register</button>
                                <button type="button" id="login-google" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                                    <i class="btn-icon-prepend mdi mdi-google"></i>
                                    Login with gmail
                                </button>
                            </div>
                            <p class="pt-3 text-center">Already a user? <a href="/account/login">Sign in.</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/account/register.js" asp-append-version="true"></script>
}
