@{
    ViewData["Title"] = "Session";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Portals</a></li>
        <li class="breadcrumb-item active" aria-current="page">Session</li>
    </ol>
</nav>

@section scripts{
    <script src="~/js/portal/session.js" asp-append-version="true"></script>
}

