<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - EDC Admin Portal</title>

    <link href="~/css/auth.min.css" rel="stylesheet" />
</head>
<body>
    <div class="main-wrapper">
        <div class="page-wrapper full-page">
            <div class="page-content d-flex align-items-center justify-content-center">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/nobleui/assets/vendors/core/core.js"></script>
    <script src="~/js/auth.min.js" asp-append-version="true"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    @RenderSection("scripts", required: false)
</body>
</html>
