.chat-wrapper {
    height: 100%;
}

@media (max-width: 768px) {
    .chat-card-body {
        min-height: 500px;
    }
}

.chat-content {
    min-height: 350px;
}

.chat-body {
    max-height: 300px !important;
}
