.chat-content {
    min-height: 23rem;
    overflow:hidden;
}

.chat-body {
    max-height: 300px !important;
    max-height: 25rem;
}
.chat-body ul{
    list-style-type:none;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}
.chat-body ul li{
    margin: .5rem 0;
}

.chat-footer{
    position: absolute;
    bottom: 0;
    width: 95%;
}


@media only screen and (max-width: 768px) {
    .chat-card-body {
        min-height: 500px;
    }
}