
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 - Page Not Found | EDC Portal</title>

    <link rel="stylesheet" href="~/App_Themes/nobleui/assets/vendors/core/core.css">
    <link rel="stylesheet" href="~/App_Themes/nobleui/assets/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="~/App_Themes/nobleui/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/App_Themes/nobleui/assets/css/demo_5/style.min.css">
    <link rel="shortcut icon" href="~/App_Themes/nobleui/assets/images/favicon.png" />
</head>
<body>

    <div class="main-wrapper">
        <div class="page-wrapper full-page">
            <div class="page-content d-flex align-items-center justify-content-center">

                <div class="row w-100 mx-0 auth-page">
                    <div class="col-md-8 col-xl-6 mx-auto d-flex flex-column align-items-center">
                        <img src="~/App_Themes/nobleui/assets/images/404.svg" class="img-fluid mb-2" alt="404">
                        <h1 class="font-weight-bold mb-22 mt-2 tx-80 text-muted">404</h1>
                        <h4 class="mb-2">Page not found.</h4>
                        <h6 class="text-muted mb-3 text-center">Oopps!! The page you are looking for does not exists.</h6>
                        <a href="/" class="btn btn-primary">Back to home</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="~/App_Themes/nobleui/assets/vendors/core/core.js"></script>
    <script src="~/App_Themes/nobleui/assets/vendors/feather-icons/feather.min.js"></script>
    <script src="~/App_Themes/nobleui/assets/js/template.js"></script>
</body>
</html>
